
		
		.testo{
			background-color: #eee;
			grid-row: 2;
			grid-column: 2;
			display: grid;
			grid-template-rows: auto auto;
			font-weight: bold;
			text-align: center;
			padding: 2vh;			
		}
			.rowT{
				width: 100%;
				font-family: 'Roboto Mono', monospace;
			}
			.rowT:hover{
				background-color: #FE9900;
				color: white;
				border-color: #CD7A00;
			}
			a{
				text-decoration: none;
			}
			a, button{
	grid-column: 2;
}

