
		
		.testo{
			background-color: #eee;
			grid-row: 1;
			grid-column: 2;

			display: grid;
			grid-template-rows: auto auto auto auto;
			font-weight: bold;
			text-align: center;
			padding: 2vh;
		}
			.paragrafo{
				grid-row: 1;
			}
			.tabella1{
				grid-row: 2;
				padding: 2vw 0vw 2vw 0vw;
			}
			.tabella2{
				grid-row: 3;
				padding: 2vw 0vw 2vw 0vw;
			}
			
			