.pulsanti{
				grid-row: 4;
				display: grid;
				grid-template-rows: 1fr;
				align-items: center;
			}
			.pulsanti button{
				width: 75%;
				border-radius: 1vh;
				font-size: 200%;
				padding: 0.5vh;
				margin: 0.5vh;
				font-weight: bold;
			}
			.pulsanti button:hover{
				background-color: #FE9900;
				color: white;
				border-color: #CD7A00;
			}